language: python
python:
  - "3.3"

# Dependencies.
install:
  # Only for testing.
  - pip install -r requirements_testing.txt
# Main.
script:
  # Check if everything compiles.
  - python -m compileall rave modules tests
  # Run unit tests!
  - nosetests
# After.
after_success:
  # Report coverage.
  - coveralls
